.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 50px;
  left: 0px;
  right: 0px;
  top: 0px;
  // padding-top: 20px;
  align-items: center;
  z-index: 10;
  height: 100px;
  backdrop-filter: blur(10px);
  // background: rgba(11, 11, 15, 0.8);
//responsive
  @media screen and (max-width: 800px) {
    padding: 0 20px;
  }



  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Megrim&display=swap");

  #logo {
    position: fixed;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Megrim", cursive;
    color: #39b877;


    .dev {
      font-size: 1rem;
      font-weight: 50;
      color: white;
    }

    //responsive
    @media screen and (max-width: 800px) {

      // position: static;
      font-size: 2rem;
      top: 30px;
    }

  }

  .ham-disabled {
    pointer-events: none;
  }

  .hamburger {
    cursor: pointer;
    mix-blend-mode: difference;
    backdrop-filter: blur(10px);
    width: 60px;
    height: 60px;
    position: fixed;
    right: 30px;
    top: 30px;

    &:hover {
      .hamburger-icon::before {
        transform: rotate(0deg) translate(-5px, -4px);
      }

      .hamburger-icon::after {
        transform: rotate(0deg) translate(5px, 4px);
      }
    }
  }

  .hamburger-icon {
    color: white;
    position: relative;
    top: 50%;
    left: 30%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 2px;
      background: white;
      transform: rotate(0deg) translate(0px, -4px);
      transition: transform 0.25s ease-in-out;
    }

    &::after {
      transform: rotate(0deg) translate(0px, 4px);
    }
  }

  .hamburger__active {
    @extend .hamburger;

    &:hover {
      .hamburger-icon::before {
        transform: rotate(0deg) translate(0, 0);
      }

      .hamburger-icon::after {
        transform: rotate(0deg) translate(0, 0);
      }
    }

    .hamburger-icon {
      @extend .hamburger-icon;

      &::before {
        transform: rotate(-45deg) translate(0px, 0px);
      }

      &::after {
        transform: rotate(45deg) translate(0px, 0px);
      }
    }
  }
}
